<h1>{{category.name}}</h1>
{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/posts/{{slug}}"><button class="btn btn-success">Read more</button></a>
        <hr>
        <small>Publish date: {{date}}</small>
    </div>
</div>
{{else}}
<h5>No post yet</h5>
{{/each}}